#General connections
DB_CONNECTION_STRING=mongodb://localhost/default_db
RABBITMQ_URL=amqp://localhost
REDIS_URL=redis://localhost

GQL_ENDPOINT=
GQL_AUTH_TOEKN=

SERVER_TOKEN=TOKEN
SERVER_PORT=7000
SERVER_EXPOSED_PORT=6000
SERVER_USE_REDIS_CACHE=true
SERVER_REDIS_CACHE_TTL=180